<div class="backdrop is-hidden">
  <div
    class="modal modal--transform"
    data-modal
    style="display: flex; padding-right: 30px; padding-left: 30px"
  >
    <button class="btn-close" type="button" data-modal-close>
      <svg class="btn-close__icon" width="18" height="18">
        <use href="./images/close40px.svg"></use>
      </svg>
    </button>
    <div class="modal-poster">
      <img src="./images/Rectangle 18.jpeg" width="396" alt="" class="preview" />
    </div>
    <div class="modal-content">
      <h2 class="modal-title">A FISTFUL OF LEAD</h2>
      <table>
        <tbody>
          <tr>
            <td>Vote/Votes</td>
            <td><span style="background-color: #ff6b01">7,3</span>/1260</td>
          </tr>
          <tr>
            <td>Popularity</td>
            <td>100.2</td>
          </tr>
          <tr>
            <td>Original Title</td>
            <td>A FISTFUL OF LEAD</td>
          </tr>
          <tr>
            <td>Genre</td>
            <td>Western</td>
          </tr>
        </tbody>
      </table>
      <h3 class="description-title">ABOUT</h3>
      <p class="text-description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
      <button class="btn-watched" type="submit">
        <span class="btn-watched__text">add to Watched</span>
      </button>
      <button class="btn-queue" type="submit">
        <span class="btn-queue__text">add to queue</span>
      </button>
    </div>
  </div>
</div>
